<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App con AngularJS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.7.8/angular-animate.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="main" ng-cloack> <!-- cloack para que no muestre que se rompio mientras carga!-->
	<nav class="navbar navbar-light bg-light">
  	<a class="navbar-brand titulo ">Listado de profesores</a>
		<form class="form-inline">
		    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre..." aria-label="Buscar" ng-model="campoBusqueda">
		</form>
	</nav>
	<main class="container">
		<div class="checkbox">
			<label for="ver">Mostrar: </label>
			<input type="checkbox" ng-model="mostrar" id="ver">
		</div>

		<div ng-controller="tabla">
			<table ng-show="mostrar" class="table table-hover">
			    <tr class="bg-danger">
			      <th>Nombre</th>
			      <th>Apellido</th>
			      <th>Materia</th>
			      <th>Sueldo</th>
			      <th>Borrar</th>
			    </tr>
				<tr ng-repeat="profesor in profesores | orderBy: orden | filter: {nombre:campoBusqueda} as buscar">
				  <td>{{profesor.nombre}}</td>
				  <td>{{profesor.apellido}}</td>
				  <td>{{profesor.materia}}</td>
				  <td>{{profesor.sueldo| currency: '$' : 0}}</td>
				  <td ng-click="borrar($index)"><span>X</span></td>
				</tr>
			</table>
			<p class="busqueda" ng-show="buscar.length == 0">La búsqueda no coincide con ningun elemento, por favor vuelva a buscar</p>
		</div>
		
		<input type="button" class="btn btn-danger boton" value="Agregar un profesor" ng-click="ingresar()" ng-hide="formVisible">
		<center><form name="formulario" ng-controller="form" ng-show="formVisible" novalidate>
			<div class="form-group">
				<label>Nombre
					<input required type="text" class="form-control" ng-model="campo.nombre" name="nombre">
				</label>
				<p class="error" ng-show="formulario.nombre.$invalid && formulario.nombre.$touched">Este campo es obligatorio</p>
			</div>
			<div class="form-group">
				<label>Apellido
					<input required type="text" class="form-control" ng-model="campo.apellido" name="apellido">
				</label>
				<p class="error" ng-show="formulario.apellido.$invalid && formulario.apellido.$touched">Este campo es obligatorio</p>
			</div>
			<div class="form-group">
				<label>Materia
					<input required type="text" class="form-control" ng-model="campo.materia" name="materia">
				</label>
				<p class="error" ng-show="formulario.materia.$invalid && formulario.materia.$touched">Este campo es obligatorio</p>
			</div>
			<div class="form-group">
				<label>Sueldo
					<input required type="number" min="5000" class="form-control" ng-model="campo.sueldo" name="sueldo">
				</label>
				<div ng-show="formulario.sueldo.$touched">
					<p class="error" ng-show="formulario.sueldo.$error.required">Este campo es obligatorio</p>
					<p class="error" ng-show="formulario.sueldo.$error.number">En este campo solo se permiten números</p>
					<p class="error" ng-show="formulario.sueldo.$error.min">El monto minimo es 5000</p>
				</div>
			</div>
			<div class="form-group">
				<label>Descripción
					<textarea required ng-minlength="5" class="form-control" ng-model="campo.descripcion" name="descripcion"></textarea>
				</label>
				<div ng-show="formulario.descripcio.$touched">
					<p class="error" ng-show="formulario.descripcion.$error.required">Este campo es obligatorio</p>
					<p class="error" ng-show="formulario.descripcion.$error.minlength">La cantidad minima es de cinco caracteres</p>
				</div>
			</div>
			<input type="button" class="btn btn-danger" value="Agregar" ng-click="agregar()" ng-disabled="formulario.$invalid">
		</form></center>
		<div ng-controller="detalleCtrl">
			<div class="jumbotron">
				<h3>Entregaron planilla con notas {{cuantos()}}, de un total de {{profesores.length}} profesores</h3>
		 		<select ng-options="profesor.nombre for profesor in profesores" ng-model="menuProfesores">
		 			<option value="">Elegir profesor</option>
		 		</select>
			 	<div class="media" ng-repeat="profesor in profesores">
					<img ng-src="{{profesor.imagen}}" class="align-self-center mr-3" alt="{{profesor.apellido}}">
					<div class="media-body">
					    <h5>{{profesor.nombre| uppercase}} {{profesor.apellido| uppercase}}</h5>
					    <p>Materia: {{profesor.materia}}</p>
					    <p>Entregó planilla: <input type="checkbox" ng-model="profesor.planilla"></p>
					    <p>Horarios: {{profesor.descripcion}}</p>
					</div>
				</div>
	 		</div>
	 	</div>
	</main>

</body>
</html>